body{
    background-color:rgb(8, 2, 63);
    color:black;
    font-family: Arial, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin:0;
}

button{
    background-color:aqua;
    color:aliceblue
font-family: 'Times New Roman', Times, serif
}